.Carousel-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Carousel-main .Carousel-arrow {
  cursor: pointer;
}

.Carousel-main .Carousel-arrow:hover {
  cursor: pointer;
  transform: rotate(-3.5deg);
}

.Carousel-arrow-div{
  align-items: center;
}

.Carousel-img {
  min-width: 200rem;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.bi {
  font-size: 35px
}
