.Carousel-main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Carousel-main .Carousel-arrow{
    cursor: pointer;
  margin: 10px;
  }
  .Carousel-main .Carousel-arrow:hover {
    cursor: pointer;
    transform: rotate(-3.5deg);
  }

  .hidden {
    display: none;
  }

  .bi {
    font-size: 35px
  }