.Homepage {
    background-color: #004860;
}

.HomePage-navigation{
    display: flexbox;
    flex-direction: row;
    align-items: right;
}

.hidden {
    display: none;
}

.Homepage-biography{
    align-items: right;
}