body {
  -webkit-font-smoothing: antialiased;
  background-color: #190B28;
}

.App {
  background-color: #190B28;
}

p {
  color: #EEE5E9;
}

b {
  color: #00BFFF;
}

h1, h2, h3 {
  color: #EF709D;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
