body {
  margin-right: auto;
  margin-left: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #190B28;
  max-width: 90%;
}

p {
  color: #EEE5E9;
}

b {
  color: #00BFFF;
}

h1, h2, h3 {
  color: #EF709D;
}


h1 {
  font-size: 400%;
}

h2 {
  font-size: 300%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
