.Navigation .nav-link  {
    margin: 2%;
    font-size: 120%;
}

.Navigation a {
    text-decoration: none;
    color: #EEE5E9;
}

.Navigation-right {
    margin-right: -50%;
}
.Navigation-Brand img{
    padding: 1%;
}

.Navigation-scroll {
    margin: 1%;
    color: #EEE5E9;
    padding: 1%;

}
.Navigation-scroll:hover {
    cursor: pointer;
    transform: translate(-2px, -2px);
    box-shadow: 5px 5.5px 2.5px #EF709D;
    border-radius: 10%;
}

.Navigation-Resume {
    text-decoration: none;
    color: #EEE5E9;
    border: 1px solid #00BFFF;
    border-color: #00BFFF;
    border-radius: 8%;
    padding: 1%;
}

.Navigation-Resume:hover {
    transform: translate(-2px, -2px);
    box-shadow: 5px 5.5px 2.5px #EF709D;
    border-radius: 10%;
}